:root {
  --main-two: #f7f7ff;
  --main-one: #27263b;
  --accent-one: #348078;
  --accent-two: #ffad33;
  --accent-three: #e6210f;
  --accent-four: #586be6;
}

html,
body {
  margin: 2rem;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--main-two);
  background-color: var(--main-one);
}

@media screen and (max-width: 800px) {
  html,
  body {
    margin: 1rem;
  }
}

@media screen and (max-width: 325px) {
  html,
  body {
    margin: 1rem;
  }
}

a {
  font-weight: bold;
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 0.5s ease-out;
}

a:hover {
  background-position: -99.99% 0;
}

@media screen and (max-width: 325px) {
}

h1 {
  font-size: 2rem;
}
