.cardDiv {
  margin: 3rem 0;
  padding-top: 0;
  background: var(--white);
  color: var(--black);
  padding: 2rem;
  max-width: 700px;
}

.cardTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.cardLink {
  text-decoration: none;
  background: var(--main-one);
  color: var(--main-two);
  padding: 0.6rem;
  font-size: 0.9rem;
}

.tagsUl {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: safe space-evenly;
  flex-wrap: wrap;
}

.tagsLi {
  padding: 0 1rem;
  background: var(--accent-one);
  line-height: 200%;
  margin: 0.5rem;
  margin-left: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

/* .tagsUl > li:nth-child(1) {
  background: var(--accent-one);
}

.tagsUl > li:nth-child(2) {
  background: var(--accent-two);
}

.tagsUl > li:nth-child(3) {
  background: var(--accent-three);
}

.tagsUl > li:nth-child(4) {
  background: var(--accent-four);
} */

.description {
  line-height: 200%;
}

@media screen and (max-width: 800px) {
  .cardDiv {
    margin: 3rem 0;
    padding-top: 0;
    background: var(--main-two);
    color: var(--black);
    padding: 1rem;
  }
}

@media screen and (max-width: 325px) {
  .cardDiv {
    margin: 3rem 0;
    padding-top: 0;
    background: var(--main-two);
    color: var(--black);
    padding: 1rem;
  }
}
