.projectsMain {
  width: 100%;
}

.projectsMain a {
  font-weight: bold;
}

/* .scrollBox {
  height: 70vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
/* .scrollBox::-webkit-scrollbar {
  display: none;
} */
