.cardDiv {
  padding: 1rem 0;
}

.cardTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.cardLink {
  text-decoration: none;
  background: var(--main-dark);
  color: var(--main-light);
  padding: 0.5rem;
  font-size: 0.8rem;
}

.tagsUl {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: safe space-evenly;
  flex-wrap: wrap;
}

.tagsLi {
  padding: 0 1rem;
  background: darkseagreen;
  line-height: 200%;
  margin: 0.5rem;
  margin-left: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.tagsUl > li:nth-child(1) {
  background: var(--accent-one);
}

.tagsUl > li:nth-child(2) {
  background: var(--accent-two);
}

.tagsUl > li:nth-child(3) {
  background: var(--accent-three);
}

.tagsUl > li:nth-child(4) {
  background: var(--accent-four);
}

.description {
  line-height: 200%;
}
