.homeTitle {
  color: var(--main-two);
  font-size: 3.4rem;
  padding-top: 20%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.descriptor {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--accent-two) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 0.5s ease-out;
  text-decoration: underline;
}

.descriptor:hover {
  cursor: pointer;
  background-position: -99.99% 0;
}

@media screen and (max-width: 800px) {
  .descriptor {
    background-image: none;
  }
  .homeTitle {
    font-size: 2rem;
  }
}
